@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(../libs/bootstrap/bootstrap.min.css);
@import url(../libs/splide-3.6.12/css/splide.min.css);
@import url(../libs/splide-3.6.12/css/themes/splide-default.min.css);

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

@import './variables';
@import './header';
@import './home';
@import './services';
@import './form';
@import './modal';
@import './cartochki';
@import './engine';
@import './media';